@font-face {
    font-family: myDigital;
    src: url('fonts/Digital_Mono_Italic.ttf');
}

html, body, input {
  background-color: rgb(60,63,70);
  color: rgb(189,189,174);
  font-family: Arial;
  margin: 15px;
}

h1 {
  font-size: 3vw;
}

input {
  border: 1px solid grey;
  font-size: 1em;
  margin-bottom: 30px;
  width: 400px;
  padding: 5px;
}

button {
  background-color: rgb(21,156,156);
  color: rgb(60,63,70);
  border: none;
  box-shadow: 1px 1px 1px #888888;
  font-size: 1em;
  padding: 10px;
}

button:active {
  margin-top: 1px;
  margin-left: 1px;
}

footer {
  position: absolute;
  bottom: 10px;
  color: grey;
}

.numbers, .numbers input{
  font-size: 3em;
}

.numbers input{
  width: 250px;
}

#counter {
  color: #ffff00;
  font-size: 25vw;
  font-family: 'myDigital';


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#controls {
  position: absolute;
  bottom: 20px;
  left: 20px;

}

#logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#reset {
  background-color: red;
  color: #fff;
}

#start {
  background-color: green;
  color: #fff;

}

.github {
  background-color: rgba(0,0,0,0);
  color: rgb(21,156,156);
  border: 1px solid rgb(21,156,156);
  box-shadow: none;
  position: absolute;
  padding: 5px;
  right: 25px;
  bottom: 10px;
  font-size: 1.2em;
}

.over {
  color: red !important;
}

.flash {
  animation-duration: 3.5s;
}
